<div class="limiter animated fadeInLeft">
  <div class="container-login100">
    <div class="wrap-login100 p-t-50 p-b-90">

      <!-- inicio form -->
      <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="login100-form validate-form flex-sb flex-w fadeInLeft">

        <img src="../../../assets/images/task_logo.png" alt="task_logo" class="img-fluid">

        <!-- Mensaje de error  -->
        <span *ngIf="f.submitted && f.controls['email'].errors" class="text-danger animated fadeIn">the mail is
          mandatory</span>
        <div class="wrap-input100 m-b-16">
          <input class="input100" type="email" name="email" [(ngModel)]="email" (keyup.enter)="onSubmit(f)"
            placeholder="Email" required>

          <span class="focus-input100"></span>
        </div>

        <!-- Mensaje de error  -->
        <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger animated fadeIn">the password must
          have at least 6 letters</span>
        <div class="wrap-input100 m-b-16" data-validate="Password is required">
          <input class="input100" type="password" name="password" [(ngModel)]="password" (keyup.enter)="onSubmit(f)"
            placeholder="Password" minlength="6" required>
          <span class="focus-input100"></span>
        </div>

        <!-- Mensaje de error  -->
        <span *ngIf="f.submitted && f.controls['confirmPassword'].errors" class="text-danger animated fadeIn">the
          password must
          have at least 6 letters</span>
        <div class="wrap-input100 m-b-16" data-validate="Password is required">
          <input class="input100" type="password" name="confirmPassword" [(ngModel)]="confirmPassword"
            (keyup.enter)="onSubmit(f)" placeholder="Confirm password" minlength="6" required>
          <span class="focus-input100"></span>
        </div>



        <div class="container-login100-form-btn m-t-17">
          <button class="login100-form-btn" type="submit">
            sign up
          </button>
        </div>

        <div class="container-login100-form-btn m-t-17">
          <button class="login100-form-btn facebook" type="submit">
            <i class="fa fa-facebook-f m-r-60"></i>sign in with facebook
          </button>
        </div>

        <!-- recuperar datos -->
        <div id="container_options">
          <a routerLink="/login" class="txt1">
            Login
          </a>
        </div>
      </form> <!-- fin form -->

    </div>
  </div>
</div>
s
