.col-10 {
    padding: 0;
    margin-left: 0;
}

.list-group{
    max-height: 97vh;
    overflow:auto;
}

.list-group-item{
    padding: .55rem 1.25rem;
}

.header{
    height: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.btn{
    font-size: 0.6rem;
    height: 1.3rem;
    width: 1.5rem;
    padding: .165rem .45rem;
}

.header h3 {
    font-weight: bold;
    font-size: 1.2em;
}