<div class="limiter animated fadeInRight">
  <div class="container-login100">
    <div class="wrap-login100 p-t-50 p-b-90">

      <!-- inicio form -->
      <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="login100-form validate-form flex-sb flex-w fadeInLeft">

        <img src="../../../assets/images/task_logo.png" alt="task_logo" class="img-fluid">

        <!-- Mensaje de error  -->
        <span *ngIf="f.submitted && f.controls['email'].errors" class="text-danger animated fadeIn">the mail is
          mandatory</span>
        <div class="wrap-input100 m-b-16">
          <input class="input100" type="email" name="email" [(ngModel)]="email" (keyup.enter)="onSubmit(f)"
            placeholder="Email" required>

          <span class="focus-input100"></span>
        </div>

        <!-- Mensaje de error  -->
        <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger animated fadeIn">the password must
          have at least 6 letters</span>
        <div class="wrap-input100 m-b-16" data-validate="Password is required">
          <input class="input100" type="password" name="password" [(ngModel)]="password" (keyup.enter)="onSubmit(f)"
            placeholder="Password" minlength="6" required>
          <span class="focus-input100"></span>
        </div>

        <!-- Recordar uduario -->
        <div class="flex-sb-m w-full p-t-3 p-b-24">
          <div class="contact100-form-checkbox">
            <input class="input-checkbox100" [(ngModel)]="rememberMe" (change)=rememberMeChange() id="ckb1"
              type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
              Remember my email
            </label>
          </div>
        </div>


        <div class="container-login100-form-btn m-t-17">
          <button class="login100-form-btn" type="submit">
            log in
          </button>
        </div>

        <div class="container-login100-form-btn m-t-17">
          <button class="login100-form-btn facebook" type="submit">
            <i class="fa fa-facebook-f m-r-60"></i>log in with facebook
          </button>
        </div>

        <!-- recuperar datos -->
        <div>
          <a routerLink="/recovery" class="txt1">
            ¿No recuerda datos?
          </a>
        </div>
      </form>
      <!-- fin form -->

    </div>
  </div>
</div>
s
