<form>
  <h2>Project</h2>
  <hr>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="email" class="form-control" id="title" placeholder="">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" rows="3"></textarea>
  </div>
  <!-- <h2>Tasks</h2>
  <hr>
  <div class="form-group">
    <label for="description">Comemntary</label>
    <textarea class="form-control" id="description" rows="3"></textarea>
  </div> -->
  <div class="text-center mt-5">
    <button type="button" class="btn btn-success" (click)="timeChange()">Create</button>
  </div>
</form>
